<h4 class id="commentPage"><%="#{@topic.title}"%></h4>


<ul>
<%@topic.comments.each do |comment|%>
<p><%="- #{comment.body} "%>|<%=" #{comment.user.fname} - Traveling: (#{comment.user.departure} - #{comment.user.arrival})"%><p>
<%end%>
<ul>

<%= link_to "Respond to Post", new_city_destination_topic_comment_path(@city, @dest, @topic) %>